<h3 style="text-align: center">Sort numbers</h3>

<div class="container">

    <div class="row">
      <input type="text" [(ngModel)]="dataset.order" placeholder="ASC or DESC">
    </div>
<br>
  <div class="row">
    <div class="col-md">
      <input type="number" [(ngModel)]="dataset.numbers[0]" placeholder="Number 1">
    </div>
    <div class="col-md">
      <input type="number" [(ngModel)]="dataset.numbers[1]" placeholder="Number 2">
    </div>
    <div class="col-md">
      <input type="number" [(ngModel)]="dataset.numbers[2]" placeholder="Number 3">
    </div>
    <div class="col-md">
      <input type="number" [(ngModel)]="dataset.numbers[3]" placeholder="Number 4">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md">
      <input type="number" [(ngModel)]="dataset.numbers[4]" placeholder="Number 5">
    </div>
    <div class="col-md">
      <input type="number" [(ngModel)]="dataset.numbers[5]" placeholder="Number 6">
    </div>
    <div class="col-md">
      <input type="number" [(ngModel)]="dataset.numbers[6]" placeholder="Number 7">
    </div>
    <div class="col-md">
      <input type="number" [(ngModel)]="dataset.numbers[7]" placeholder="Number 8">
    </div>
  </div>
</div>
<br>
<div class="col-md-12 text-center">
  <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</div>

<div>
  <br>
  <p style="text-align: center; font-size: 24px">{{local}}</p>
</div>
